.w3-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

#current-tag .w3-tag {
    color:#fff!important;
    background-color:#607d8b!important;
}

#not-tag .w3-tag {
    color:#fff!important;
    background-color:#ff5722!important;
}

.over {
    border: 3px dotted #666;
}

.t-header {
    margin-bottom: 0px;
}

.ck-content {
    height: 230px;
}