.w3-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

#current-tag .w3-tag {
    color:#fff!important;
    background-color:#607d8b!important;
}

#not-tag .w3-tag {
    color:#fff!important;
    background-color:#ff5722!important;
}

.over {
    border: 3px dotted #666;
}

.t-header {
    margin-bottom: 0;
}

.ck-content {
    height: 230px;
}

header#header {
    background-color: #f1f1f1!important;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}